@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*, :after, :before {
    border: 0 solid;
    box-sizing: border-box;
}
body{
    margin: 0;
    overflow-x: hidden;
}
.main_class{
    background-color: #202020;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
}
.taiko_soon{
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-size: 12px;
    line-height: 14px;
    font-weight: 700;
    text-align: center;
    padding-bottom: 0.625rem;
    padding-top: 0.625rem;
    font-family: 'Poppins',sans-serif;
    border-bottom: 3px solid rgb(139, 19, 75);
    height: 33px;
}
.taiko_text-soon{
    height: 33px;
    text-align: center;
}
.officel_header{
    border-color: rgb(240, 240, 236);
    border-bottom-width: 1px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #202020;
    border-bottom: 3px solid rgb(139, 19, 75);
    width: 100%;
}
.taiko_main{
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    width: 100%;
}

.taiko_main-wrapper{
    padding-bottom: 1.25rem;
    padding-top: 1.25rem;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.text-icons{
    gap: 0.75rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.nav_taikoamb{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 0.75rem;
    color: #fff;
    font-size: 20px;
    padding-right: 15px;
}
@media screen and (min-width: 320px) and (max-width:425px){
    .nav_taikoamb{
        font-size: 15px;
    }
}

.logo_text{
    font-family: 'Poppins',sans-serif;
    margin-left: 50px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}
@media screen and (min-width: 320px) and (max-width:425px){
    .logo_text{
        margin-left: 0;
    }
}

.navig{
    font-family: 'Poppins',sans-serif;
    color: #fff;
    text-decoration: none;
}
.navig:hover{
    color: gray;
}
.ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
a{
    color: inherit;
    text-decoration: inherit;
}
.main_block{
    padding-top: 4rem;
    background-color: #202020;
    border-color: rgb(240, 240, 236);
    border-bottom: 3px solid rgb(139, 19, 75);
}
.first_block{
    gap: 4rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.ambassador_block{
    border-bottom-width: 1px;
    background-image: url(https://taiko.xyz/img/Taiko_GEOM_1_Fluo_Sliced.svg);
    background-position: 100% 0%;
    border-color: rgb(37 37 37);
    border-top-width: 1px;
    min-height: 400px;
    position: relative;
    background-color: #202020;
    background-repeat: no-repeat;
    color: rgb(255 255 255);
    padding-bottom: 3.5rem;
    padding-top: 3.5rem;
    width: 100%;
}
.container_block{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 10;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    width: 100%;
}
.text_bytaiko{
    font-size: 14px;
    line-height: 16px;
    font-family: 'Poppins',sans-serif;
    font-weight: 700;
    letter-spacing: .2rem;
    color: azure;
    margin-left: 20px;
}
@media screen and (min-width: 320px) and (max-width:425px) {
    .text_bytaiko{
        font-size: 12px;
        line-height: 15px;
    }
}
.slider{
    color: rgb(1 255 200);
    position: relative;
    border-bottom: 3px solid rgb(139, 19, 75);
}
.slider::before{
    border-color: rgb(1 255 200);
    left: 0;
    width: 100%;
    border-bottom-width: 1px;
    bottom: -0.25rem;
    position: absolute;
    content: var(--tw-content);
}
.text-h1{
    font-family: 'Poppins',sans-serif;
    font-weight: 700;
    font-size: 50px;
    line-height: 70px;
    margin-top: 1.75rem;
    margin-left: 20px;
}
@media screen and (min-width: 320px) and (max-width:425px) {
    .text-h1{
        font-size: 20px;
    }
}
.subtittle_text{
    font-family: 'Poppins',sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    margin-top: 1.75rem;
    margin-left: 20px;
}
.project_block{
    background-color: #202020;
    border-top-width: 1px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.arrow{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: rgb(255, 255, 255);
    margin-top: 2rem;

}
.project_block-wrapper{
    padding-top: 120px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.container{
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    width: 100%;
}
.think_block{
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.think_block-ptoject{
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 3rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
}

.image_think{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}


.text_think{
    color: rgb(255, 255, 255);
    padding-top: 5rem;
    width: 440px;
}
.title-gradient{
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: initial;
    background-image: -webkit-gradient(linear,left top, right top,from(transparent), to(rgb(227 14 173)));
    background-image: -o-linear-gradient(left,transparent, rgb(227 14 173));
    background-image: linear-gradient(90deg,transparent, rgb(227 14 173));
    border-radius: 0.375rem;
    color: rgb(255 255 255);
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    font-family: Big Shoulders Display,cursive;
    font-size: 14px;
    font-weight: 700;
    gap: 0.625rem;
    letter-spacing: .2rem;
    line-height: 16px;
    padding: 0.5rem 1.25rem;
    text-transform: uppercase;
    
}
.button_taiko{
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 0.625rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 2.5rem;
}
.txt_think{
    padding-bottom: 1.75rem;
    padding-top: 1.75rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}
.btn{
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: rgb(255 255 255);
    border-radius: 0.375rem;
    border-width: 1px;
    color: rgb(37 37 37);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: 'Poppins',sans-serif;
    font-size: 18px;
    font-weight: 700;
    margin-left: 20px;
    gap: 0.5rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    letter-spacing: .08em;
    line-height: 22px;
    padding: 1rem 1.5rem;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-transition-duration: .15s;
         -o-transition-duration: .15s;
            transition-duration: .15s;
    -webkit-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-timing-function: cubic-bezier(.4,0,.2,1);
         -o-transition-timing-function: cubic-bezier(.4,0,.2,1);
            transition-timing-function: cubic-bezier(.4,0,.2,1);
}
.btn:hover{
    -webkit-transform: scale(0.97);
        -ms-transform: scale(0.97);
            transform: scale(0.97);
}
.second_btn{
    background-color: rgb(20 20 20);
    border-color: rgb(37 37 37);
    color: rgb(255 255 255);
}
@media screen and (min-width: 320px) and (max-width:425px) {
    .btn{
        font-size: 10px;
        margin-left: 10px;
        line-height: 11px;
    }
}
.text{
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    font-family: 'Poppins',sans-serif;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.second_block{
    margin-top: 14rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
}

.create_block{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding-top: 5rem;
}

.text_create{
    color: rgb(255, 255, 255);
    width: 440px;
}

.txt_create{
    padding-bottom: 1.75rem;
    padding-top: 1.75rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}
.text_crt{
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    font-family: 'Poppins',sans-serif;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
@media screen and (min-width: 320px) and (max-width:425px) {
    .text_create{
        width: 140px;
    }
}
.footer_block{
    background-color: rgb(37 37 37);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 120px;
    padding-bottom: 2.5rem;
    padding-top: 2.5rem;
}
.container_footer{
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    row-gap: 0;
}
.footer_logo{
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.footer_icon{
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 20px;
    margin-right: 20px;
}
.footer_ul{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 0.75rem;
    color: rgb(131, 131, 131);
}
.help_block{
    gap: 3rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-top: 14rem   ;
}
.join_create{
    padding-bottom: 0;
    gap: 5rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    background-repeat: no-repeat;
    background-color: rgb(37 37 37);
    border-radius: 0.5rem;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.join_block{
    color: rgb(255, 255, 255);
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.h3-text{
    margin: 0;
    font-size: 32px;
    font-weight: 700;
    line-height: 44px;
    font-family: 'Poppins',sans-serif;
}
